h1{
    font-size: 50px;
    font-weight: 800;
    color:rgba(6, 8, 37, 0.918);
}
h2{
    font-size: 45px;
    font-weight: 700;
    color:rgba(38, 40, 70, 0.918);

}
p{
    font-size: 25px;
    font-weight: 750;
    
}
body{
    font-family: 'Rubik', sans-serif;
    background-color: rgb(147, 160, 163);
    color: rgba(25, 8, 37, 0.918);
}
img{
    align-content: center;
    width: 50%;
}
.profile{
    width: 40%;
    float:left;
    margin: 5%;
    padding left: 2% ;
}
.highlight2{
    font-size: 29px;
    font-weight: 700;
    color:rgba(83, 12, 45, 0.918);

}
.highlight1{
    font-size: 29px;
    font-weight: 700;
    color:rgba(100, 19, 46, 0.918);
}
.fb-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, rgb(61, 61, 126), rgb(22, 22, 102));
    padding: 10px 20px;
    color: whitesmoke;
    border-radius: 5px;
}
.gmail-button{
    text-decoration: none;
    background-image:linear-gradient(180deg, rgb(146, 38, 38), darkred);
    padding: 10px 20px;
    color: lightgoldenrodyellow;
    border-radius: 5px;
}
.linkdin-button{
    text-decoration: none;
    background-image:linear-gradient(45deg, rgb(120, 154, 218), rgb(6, 89, 128));
    padding: 10px 20px;
    color: lightgoldenrodyellow;
    border-radius: 5px;

}
.first-part{
    size: 500px;
}
.info{
    width: 40%;
    
    margin: 5%;
    padding left: 2% ;
}